
.general-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }
  
  .left-cali {
    width: 45%;
  }
  
  .right-cali {
    width: 45%;
    position: relative;
  }
  
  .carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-images img {
    width: 100%;
    height: auto;
  }
  
  button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 18px;
  }
  
  .prev {
    left: 10px;
    transform: translateY(-50%);
  }
  
  .next {
    right: 10px;
    transform: translateY(-50%);
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  



/*-------------------------------------------CONTENIDO-----------------------------*/

.contenido-box{
    height: 500px;
    width: 75%;
    margin: 5% auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
   
}

.contenido-mini{
  
    height: 100%;
    margin: auto;
    width: 33%;
}

.mini-img{

    width: 100%;
    height: 50%;
}

.txt-mini{
    
    width: 80%;
    text-align: justify;
    margin: 7% auto;
}


/*--------------------------------------------------GALLERIA-------------------------------*/


.gallery-gen{
    
    width: 80%;
    height: 650px;
    text-align: center;
    margin: auto;
    margin-bottom: 4%;
   

}

.gallery-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    height: 90%;
    width: 100%;
}

.gallery-mini-izq{
   
    width: 49%;
    height: 100%;
    margin: auto;
}
.gallery-mini-izq img{
    height: 100%;
    width: 100%;
}
/*sss*/

.gallery-mini-der{
    
    width: 49%;
    height: 100%;
    margin: auto;
    flex-direction: row;
    justify-content: flex-star;
    align-items: stretch;
    flex-wrap: wrap;
    display:flex;
}
.img-izq{
    height: max-content;
}

.mini-der{
   margin: auto;
   
    width: 48%;
    height: 49%;
}

.mini-der img{
    height: 100%;
    width: 100%;
}