
.main-main{
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 1.5s ease-out, transform 1.5s ease-out; 
    height: 700px;
    width: 100%;
    margin: 7% auto;
}


.main-main.visible {
    opacity: 1;               /* Contenido visible */
    transform: translateY(0); /* Sin desplazamiento */
}


.main-box{

    width: 65%;
    height: 100%;
    margin: auto;
    display: flex;

}
.main-box-box{
  
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 50%;
    margin: auto;
    height: 100%;
}

.stars-main{
   
    width: 30%;
    text-align: center;
    margin-top: 3%;
}

.main-title{
  width: 80%;
  
    margin: auto;
}
.main-title h3{
    font-family: "Mate SC", serif;
  font-weight: 400;
  font-style: normal;
    font-size: 25px;
    text-align: left;
}
.main-title h1{
    font-family: "Luxurious Roman", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    text-align: left;
}
.main-txt{
    
    width: 80%;
    text-align: justify;
    margin: 5% auto;
}

.main-txt p {
    font-size: 20px;
}
.main-botones{
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 100%;
    margin: auto;
}

.main-botones button{
    background-color: transparent;
    border: 2px solid #333;
    color: #333;
    text-align: left;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 25%;
    transition: color 0.3s ease, background-color 0.3s ease;
    border: none;
    margin: auto;
}

.main-botones button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #011345;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.main-botones button:hover {
    color: #011345;
   
}

.main-botones button:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.main-box-right  {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 50%;
    margin: auto;
    height: 100%;
   
    display: flex;
   
}

.img-left {
   
    width: 45%;
    height: 60%;
    
    margin: auto;
    margin-bottom: 20%;
    position: relative;
    top: -10%; /* Eleva la imagen 20 píxeles */
}

.img-right {
  
    width: 45%;
    height: 60%;
    margin-top: 17%;
    position: relative;
    position: relative;
    bottom: -10%; 
  
}

.img-main {
    height: 100%;
    width: 100%;
}


/* Carrusel dos Habitaciones con Actividades */

/* Carrusel dos Habitaciones con Actividades */

/* Estilo general de la sección */
.dispo {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    width: 100%;
    margin: 5% auto;
    padding: 50px 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .dispo.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Contenedor de los carruseles */
  .carousels-container {
    display: flex;
    justify-content: center;
    gap: 40px;  /* Aumenta el espacio entre los carruseles */
    margin-top: 40px;
  }
  
  /* Estilo individual de cada carrusel */
  .carousels {
    width: 600px;  /* Aumenta el tamaño de cada carrusel */
    height: 600px;  /* Hacemos que el carrusel sea cuadrado */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
                0 9px 46px 8px rgba(0, 0, 0, 0.12), 
                0 11px 15px -7px rgba(0, 0, 0, 0.2);
    overflow: hidden;  /* Asegura que no haya desbordes */
    border-radius: 10px;  /* Esquinas redondeadas */
  }
  
  .carousels h2 {
    margin-top: 20px;  /* Espacio encima del título */
    font-size: 1.6em;
    color: #333;
    text-transform: uppercase;
  }
  
  .carousels p {
    font-size: 1em;
    color: #666;
    margin-top: 10px;
    padding: 0 20px;  /* Agrega relleno a los lados */
    text-align: center;
    line-height: 1.5;
  }
  
  /* Estilo de la imagen */
  .carousels img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Asegura que la imagen cubra todo el contenedor */
    transition: opacity 1s ease-out;  /* Para un cambio suave de imagen */
  }
  
  /* Estilo de los botones */
  button[class = "right-btn"],
[class = "left-btn"]  {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 1;  /* Asegura que los botones estén por encima de las imágenes */
}
  
  button .arrow {
    width: 12px;
    height: 12px;
    border: solid #fff;
    border-width: 2px 2px 0 0;
    display: inline-block;
    transition: transform 0.3s ease-out;
    outline: none;
  }
  
  /* Flechas normales */
  .left-btn .arrow {
    transform: rotate(225deg);  /* Flecha hacia la izquierda */
  }
  
  .right-btn .arrow {
    transform: rotate(-315deg);  /* Flecha hacia la derecha */
  }
  
  .left-btn {
    left: 10px;
  }
  
  .right-btn {
    right: 10px;
  }
  

  /* Servicios */


  .servicios {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    width: 100%;
    margin: 5% auto; /* Espaciado vertical */
    padding: 50px 0; /* Relleno para separar contenido */
    box-sizing: border-box;
    text-align: center;
    display: flex; /* Para centrar el contenido */
    flex-direction: column; /* Organiza en columna */
    align-items: center; /* Centra horizontalmente */
}

.servicios.visible {
    opacity: 1;
    transform: translateY(0);
}
.servicios h1 {
  font-size: 2rem; /* Ajusta el tamaño del título */
  text-align: center; /* Centra el título */
  margin-bottom: 6%; /* Espacio entre el título y la tabla */
  color: #333; /* Color del texto */
}
.tabla-servicios {
  display: flex; /* Organiza los <tr> como flexibles */
  flex-direction: column; /* Organiza las filas en columna */
  flex-wrap: wrap; /* Permite ajustar si es necesario */
  width: 65%; /* Ocupa el 70% del ancho */
  margin: 0 auto; /* Centrado horizontal */
  text-align: center; /* Centra el contenido textual */
  gap: 10px; /* Espacio entre filas si es necesario */
}

.tabla-servicios tr {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row; 
  align-items: left; 
  justify-content: center;
  margin: 10px;
}
.tabla-servicios td {
  display: flex; /* Cada celda coloca su contenido en fila */
  align-items: center; /* Centra verticalmente texto e ícono */
  justify-content: space-between; /* Texto al inicio e ícono al final */
  flex: 1; /* Hace que cada celda ocupe el mismo ancho */
  padding: 30px 15px; /* Espaciado interno */
  font-size: 1rem; /* Ajusta el tamaño del texto */
  text-align: left; /* Alineación de texto a la izquierda */
}

.tabla-servicios td p {
  font-size: 20px; /* Tamaño del ícono */
  margin: 0 0 0 0; /* Elimina márgenes adicionales del párrafo */
}

.tabla-servicios i {
  font-size: 40px; /* Tamaño del ícono */
  color: #333; /* Color del ícono */
  margin: 0 50px 0 0; /* Elimina márgenes adicionales del párrafo */
}



/* OFERTAS */

.ofertas {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
  width: 100%;
  margin: 5% auto;
  padding: 50px 20px;
  box-sizing: border-box;
  text-align: center;
}

.ofertas.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Contenedor de los carruseles */
.carousels-container-ofertas {
  display: flex;
  justify-content: center;
  gap: 40px;  /* Aumenta el espacio entre los carruseles */
  margin-top: 40px;
}

/* Estilo individual de cada carrusel */
.carousels-ofertas {
  width: 600px;  /* Aumenta el tamaño de cada carrusel */
  height: 600px;  /* Hacemos que el carrusel sea cuadrado */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
              0 9px 46px 8px rgba(0, 0, 0, 0.12), 
              0 11px 15px -7px rgba(0, 0, 0, 0.2);
  overflow: hidden;  /* Asegura que no haya desbordes */
  border-radius: 10px;  /* Esquinas redondeadas */
}

.carousels-ofertas h2 {
  margin-top: 20px;  /* Espacio encima del título */
  font-size: 1.6em;
  color: #333;
  text-transform: uppercase;
}

.carousels-ofertas p {
  font-size: 1em;
  color: #666;
  margin-top: 10px;
  padding: 0 20px;  /* Agrega relleno a los lados */
  text-align: center;
  line-height: 1.5;
}

/* Estilo de la imagen */
.carousels-ofertas img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* Asegura que la imagen cubra todo el contenedor */
  transition: opacity 1s ease-out;  /* Para un cambio suave de imagen */
}

/* Estilo de los botones */
button[class = "right-btn-ofertas"],
[class = "left-btn-ofertas"]  {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 1;  /* Asegura que los botones estén por encima de las imágenes */
}

button .arrow-ofertas {
  width: 12px;
  height: 12px;
  border: solid #fff;
  border-width: 2px 2px 0 0;
  display: inline-block;
  transition: transform 0.3s ease-out;
  outline: none;
}

/* Flechas normales */
.left-btn-ofertas .arrow-ofertas {
  transform: rotate(225deg);  /* Flecha hacia la izquierda */
}

.right-btn-ofertas .arrow-ofertas {
  transform: rotate(-315deg);  /* Flecha hacia la derecha */
}

.left-btn-ofertas {
  left: 10px;
}

.right-btn-ofertas {
  right: 10px;
}

/*MAPA*/
/* Sección del mapa de Galicia */
.mapa-galicia {
  height: 800px;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0; /* Por defecto, oculto */
  transform: translateY(50px); /* Movido hacia abajo */
  transition: opacity 1.5s ease-out, transform 1.5s ease-out; /* Transición suave */
}

/* Cuando la sección es visible */
.mapa-galicia.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Contenedor del mapa */
.mapa-box-galicia {
  width: 60%; /* Ajustamos el tamaño de la caja */
  height: 100%;
  margin: auto;
  text-align: center;
}

/* Título del mapa */
.mapa-box-galicia h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
  margin-bottom: 20px;
  color: #333; /* Un tono más suave para el título */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  text-align: center; /* Alineamos el título al centro */
  word-wrap: break-word; /* Rompe las palabras largas si es necesario */
}

/* Párrafo de texto */
.mapa-box-galicia p {
  width: 100%; /* Hace que el párrafo ocupe todo el ancho disponible */
  margin: 0 auto 20px; /* Añade margen inferior */
  font-size: 20px;
  color: #666; /* Color gris suave */
  line-height: 1.5; /* Mejora la legibilidad */
  text-align: justify; /* Justifica el texto para que se lea a lo largo */
  padding: 0 10px; /* Añade algo de relleno a los lados para que el texto no toque los bordes */
}

/* Estilo del mapa */
#map {
  height: 70%; 
  width: 100%; /* Asegura que el mapa ocupe el 100% del contenedor */
  margin-top: 2%;
  border: 1px solid #ddd; /* Bordes suaves */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
