/* Variables de color */
:root {
    --primary-color: #2a3d66;
    --secondary-color: #5a8ecf;
    --accent-color: #d3ddff;
    --text-color: #333;
    --background-light: #f7f9fc;
    --transition-smooth: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    --primary-blue: #1e3d59;
    --secondary-blue: #17263b;
    --accent-blue: #2c5282;
    --light-blue: #edf2f7;
    --gold: #c5a47e;
    --white: #ffffff;
    --text-dark: #2d3748;
    --text-light: #e2e8f0;
}

/* Estilos generales */
body {
    background-color: var(--background-light);
    color: var(--text-dark);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor del login */
.login-container {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
}

.logo {
    width: 80px;
    margin-bottom: 1rem;
}

h2 {
    color: var(--primary-blue);
    margin-bottom: 1rem;
}

.error {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
}

input {
    width: 80%;
    padding: 10px;
   margin: auto;
   text-align: center;
    border: 1px solid var(--accent-blue);
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: var(--primary-blue);
    color: var(--white);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: var(--transition-smooth);
    margin-top: 10px;
}

button:hover {
    background-color: var(--accent-blue);
}
