


/*-------------------FORMULARIO DE RESERVA-------------------------------*/

  /* Estilos mejorados para un look elegante y lujoso */
  .form-control, .form-select {
    border-radius: 12px;
    border: 2px solid #adb5bd;
    padding: 12px;
    font-size: 18px;
    font-family: 'Cormorant Garamond', serif;
    background-color: #f8f9fa;
    transition: all 0.3s ease-in-out;
}
.form-control:focus, .form-select:focus {
    border-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 86, 179, 0.5);
    background-color: #ffffff;
}

.btn-primary {
    border-radius: 12px;
    font-size: 20px;
    padding: 12px;
    background: linear-gradient(135deg, #0056b3, #003580);
    border: none;
    color: white;
    transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
    background: linear-gradient(135deg, #003580, #001f4d);
    transform: scale(1.05);
}

/* Contenedor del formulario con un diseño más refinado */
.container {
    max-width: 500px;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
/*--------------------------FOOTER-------------------------*/


/* Estilos generales del footer */
.footer {
    background: linear-gradient(135deg, #122055, #1e3c78); /* Gradiente sutil de azul oscuro */
    color: #fff;
    padding: 40px 20px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    flex: 1;
    text-align: left;
}

.footer-logo img {
    width: 150px;
    margin-bottom: 15px;
}

.footer-logo p {
    font-size: 18px;
    font-weight: 500;
    color: #bbb; /* Gris para el texto */
}

.footer-links, .footer-contact, .footer-socials {
    flex: 1;
    margin: 20px;
    text-align: left;
}

.footer-links h4, .footer-contact h4, .footer-socials h4 {
    font-size: 20px;
    color: #e2c17f; /* Dorado para resaltar */
    margin-bottom: 10px;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    margin: 8px 0;
}

.footer-links a {
    color: #bbb;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #e2c17f; /* Color dorado al pasar el ratón */
}

.footer-contact p {
    font-size: 16px;
    color: #bbb;
}

.footer-socials .social-icons a {
    margin: 0 10px;
    color: #bbb;
    font-size: 24px;
    transition: color 0.3s;
}

.footer-socials .social-icons a:hover {
    color: #e2c17f; /* Dorado en hover */
}

.footer-bottom {
    background-color: #000231;
    padding: 20px 0;
    margin-top: 30px;
    font-size: 14px;
    color: #ffffff;
}

.footer-bottom p {
    margin: 0;
}
