/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f1f8ff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #004d99;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em;
    color: #0066cc;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    color: #333333;
    line-height: 1.6;
}

strong {
    color: #004d99;
}

.details {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

a {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.2em;
    color: #0066cc;
    text-decoration: none;
    border: 2px solid #0066cc;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

a:hover {
    background-color: #0066cc;
    color: #ffffff;
}

.container a {
    text-decoration: none;
}

.container p a {
    font-weight: bold;
}

