/* Reglas generales */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #e9ebef9e; /* Fondo azul claro */
    height: max-content; /* Altura extra para scroll */
}

/* Estilo del header */
.main-header {
    position: relative;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    overflow: hidden;
}

/* Imágenes del carrusel (fondo) */
.carousel-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Enviar al fondo */
    opacity: 0;
    transition: opacity 0.8s ease-in-out; /* Transición suave entre imágenes */
}

/* La primera imagen será visible inicialmente */
.carousel-background:first-child {
    opacity: 1;
}

/* Contenido sobre el fondo */
.main-header-content {
    position: relative;
    z-index: 1;
    /* Otros estilos para el contenido dentro del header */
}
.main-up {
    position: fixed; /* Fija la posición en la ventana */
    top: 0; /* Alinea en la parte superior */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta la posición por el ancho */
    display: flex;
    height: 115px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1000; /* Asegura que esté sobre otros elementos */
    border-top-right-radius: 10px; /* Bordes redondeados */
    width: 100%; /* Ocupa un 85% del ancho de la ventana */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    
}
.main-up.transparent {
    background-color: rgba(0, 0, 0, 0); /* Sin fondo */
    box-shadow: none; /* Sin sombra */
}

.main-up.scrolled {
    width: 100%;
    background-color: rgb(255, 255, 255); /* Fondo blanco semi-transparente */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.main-up-left{
    display: flex;
    margin-left: 8%;
   
    align-items: center;
    justify-content: flex-start;
}


/* Estilos del menú */
.links {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #000;
    position: relative; /* Necesario para la línea debajo */
}

a::after {
    content: ''; /* Crea un pseudo-elemento vacío */
    position: absolute;
    bottom: 0; /* Ubica la línea justo debajo del texto */
    left: 0;
    width: 100%; /* Hace que la línea ocupe todo el ancho del enlace */
    height: 2px; /* Grosor de la línea */
    background-color: #000; /* Color de la línea */
    transform: scaleX(0); /* Inicialmente no visible */
    transform-origin: bottom right; /* Inicia la animación desde la derecha */
    transition: transform 0.3s ease; /* Efecto suave al pasar el cursor */
}

a:hover::after {
    transform: scaleX(1); /* Al pasar el cursor, la línea se expande */
    transform-origin: bottom left; /* Cambia el origen de la animación a la izquierda */
}

/* Estilos del dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    cursor: pointer;
}

/* Contenido del dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    padding: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Sección dentro del dropdown */
.dropdown-section {
    margin-bottom: 10px;
}

h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.dropdown-content a {
    padding: 8px 12px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Estilo para main-up-left */
.main-up-left img {
    max-width: 100%;
    max-height: 100px; /* Limita la altura del logo */
    object-fit: contain; /* Escala correctamente */
    transition: transform 0.3s ease;
}
.main-up.scrolled .main-up-left img {
    transform: translateY(0); /* Mantiene la posición del logo al hacer scroll */
}

/* Estilo para main-up-right */
.main-up-right {
    display: flex;
   
    align-items: center;
    margin-right: 8%;
}

.links {
    display: flex;
    gap: 20px; /* Espaciado entre los enlaces */
}

.links a {
    text-decoration: none;
    color: rgb(20, 52, 195); /* Color del texto */
    font-weight: bold;
    font-size: 20px;
   /* transition: color 0.1s, transform 0.1s; /* Transiciones */
}

.links a:hover {
    color: rgb(3, 1, 39); /* Color al pasar el mouse */
    transform: scale(1.1); /* Ligero aumento */
}

/*---------------------------CENTRO IMG-------------------*/


.main-center{
   
    z-index: 999;
    margin: 8% auto;
    display: flex;
    
    height: 65%;
    width: 80%;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

}

.center-up{
  

    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

}
.center-up-up{

    height: 20%;
    margin-top: 2%;
    text-align: center;
    width: 50%;
}
.center-up-down{
    
    height: 65%;
 
    width: 50%;
    text-align: center;
}
.center-up-down h1{
    font-size: 40px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: italic;
}

/*-----------BOTONes RESERVA----------*/

.center-down{
    
    height: 50%;
    width: 100%;

}



/* Estilo del formulario de reserva */
.reserva-form {
   
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
   
    padding: 40px;
    text-align: center;
}
.form-reservas{
 
    width: 100%;
    height: 300px;
}

.form-reservas h1{
    margin: 2.5% auto;
    text-align: center;

}

.formulario{
    background-color: #ffffff;
    padding: 20px;
    width: 80%;
    margin:3% auto;
    text-align: center;
 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

form label {
    
    padding: 10px;
    margin: 10px;
    width: 100%;
}

form input,
form select {
    width: 13%; /* Ocupa el ancho completo del formulario */
    padding: 10px;
    margin-bottom: 15px; /* Espacio entre cada campo */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease; /* Suave transición para enfoque */
}


/* Efecto de enfoque en los campos */
form input:focus,
form select:focus {
    border-color: #021476; 
    outline: none; 
}

.counter-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.counter-container label {
    flex: 1;
    font-weight: bold;
    color: #333;
}

/* Estilo de los botones de incremento y decremento */
.counter-container button {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    color: #333;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
}

/* Efecto hover para botones */
.counter-container button:hover {
    background-color: #ddd;
}

/* Estilo del campo de número */
.counter-container input[type="number"] {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

button {
    width: 15%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #003048; 
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #9dccfc; 
    color: rgb(0, 0, 0);
}



/*-----------------------------------------------------MAIN---------------------------------------*/

.main-main{
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 1.5s ease-out, transform 1.5s ease-out; 
    height: 700px;
    width: 100%;
    margin: 7% auto;
}
.main-main.visible {
    opacity: 1;               /* Contenido visible */
    transform: translateY(0); /* Sin desplazamiento */
}


.main-box{

    width: 65%;
    height: 100%;
    margin: auto;
    display: flex;

}
.main-box-box{
  
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 50%;
    margin: auto;
    height: 100%;
}

.stars-main{
   
    width: 30%;
    text-align: center;
    margin-top: 3%;
}

.main-title{
  width: 80%;
  
    margin: auto;
}
.main-title h3{
    font-family: "Mate SC", serif;
  font-weight: 400;
  font-style: normal;
    font-size: 25px;
    text-align: left;
}
.main-title h1{
    font-family: "Luxurious Roman", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    text-align: left;
}
.main-txt{
    
    width: 80%;
    text-align: justify;
    margin: 5% auto;
}

.main-txt p {
    font-size: 20px;
}
.main-botones{
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 100%;
    margin: auto;
}

.main-botones button{
    background-color: transparent;
    border: 2px solid #333;
    color: #333;
    text-align: left;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 25%;
    transition: color 0.3s ease, background-color 0.3s ease;
    border: none;
    margin: auto;
}

.main-botones button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #011345;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.main-botones button:hover {
    color: #011345;
   
}

.main-botones button:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.main-box-right  {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 50%;
    margin: auto;
    height: 100%;
   
    display: flex;
   
}

.img-left {
   
    width: 45%;
    height: 60%;
    
    margin: auto;
    margin-bottom: 20%;
    position: relative;
    top: -10%; /* Eleva la imagen 20 píxeles */
}

.img-right {
  
    width: 45%;
    height: 60%;
    margin-top: 17%;
    position: relative;
    position: relative;
    bottom: -10%; 
  
}

.img-main {
    height: 100%;
    width: 100%;
}

/*------------------------------NUESTROS HOTELES-------------------------------*/

.hoteles-nu{
    text-align: center;
    margin-bottom: 5%;
    height: 1000px;
    width: 100%;
    margin-top: 0;
  
    background-color: #c5d0e671;
}

.hoteles-txt{
    
    margin-bottom: 2%;
    padding: 1%;
   
}

.hoteles-txt h1{
    font-family: "Luxurious Roman", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;

    text-align: center;

}

.hoteles-txt p{

    width: 25%;
    margin: auto;
    text-align: center;
}

.hoteles-box{
  
    width: 80%;
    height: 65%;
    margin: 2% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
}

.hoteles-nu-gen{
    
    height: 100%;
    
    width: 30%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    background-color: rgba(250, 248, 242, 0.948);
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.3);

}


.sub-hoteles-nu{
  
    height: 50%;
    width: 100%;
    text-align: center;
    
    margin: auto;
    box-shadow:rgb(0, 0, 0);
}

.sub-hoteles-nu img{
    text-align: center;
}


.sub-img{
    height: 90%;
  
    margin: 4% auto;
    width: 90%;
}

.sub-hoteles-nu h1{
    font-family: "Luxurious Roman", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    width: 88%;
    margin: 3% auto;
    text-align: left;
}

.sub-hoteles-nu p{
    width: 88%;
    margin: 10% auto;
    text-align: left;

}
.hoteles-boton{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    
    
    margin: auto;
}

.hoteles-boton button{
    background-color: transparent;
    border: 2px solid #333;
    color: #333;
    text-align: left;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 25%;
    transition: color 0.3s ease, background-color 0.3s ease;
    border: none;
    margin: auto;
}

.hoteles-boton button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #011345;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.hoteles-boton button:hover {
    color: #011345;
   
}

.hoteles-boton button:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.ben-gen {
    height: max-content;
    width: 100%;
}

.ben-box {
    margin: auto;
    width: 100%;  /* Asegúrate de que ocupe todo el ancho disponible */
    max-width: 1200px;  /* O un valor adecuado para tu diseño */
}

.ben-txt {
    width: 100%;
    text-align: left;
    height: 16%;
}

.ben-txt h1 {
    font-family: "Luxurious Roman", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    width: 88%;
}

.ben-ben {
    width: 100%;
    display: flex;
    flex-wrap: wrap;  /* Permite que los elementos se ajusten */
    gap: 10px;
    justify-content: flex-start;  /* Alinea los elementos en fila */
}

.ben-sub {
    background-color: beige;
    height: 300px;  /* Altura fija */
    margin: 10px;
    width: calc(33.33% - 30px);  /* Ajusta el tamaño para respetar el gap */
    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* Distribuye los elementos dentro */
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;  /* Incluye el padding dentro de las dimensiones de la caja */
}

.ben-sub i {
    font-size: 50px;  /* Tamaño fijo del ícono */
    margin: 10% 0% 8% 5%; /* Añade espacio debajo del ícono */
}

.ben-sub h1 {
    font-family: "Luxurious Roman", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin: 5% 0% 5% 5%; /* Añade espacio debajo del ícono */
}

.ben-sub p {
    font-size: 14px;
    margin: 0% 0% 10% 5%; /* Añade espacio debajo del ícono */
    flex-grow: 1;
    overflow: hidden;  /* Evita el desbordamiento */
    text-overflow: ellipsis;  /* Añade '...' si el texto es demasiado largo */
    margin-bottom: 0; /* Asegura que no haya espacio extra en la parte inferior */
}









/*---------------------------------------PROMOCIONES------------------------------------*/


.promociones{
  
    height: 700px;
    margin-top: 3%;
    width: 100%;
    background: rgb(34 34 34);

}
.promociones-box{
   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:55%;
    height: 100%;
    margin: auto;

}

.prom{

    margin:4% 0 0 2%;
    width: 30%;
    height: 80%;
    
}


.prom h6{
    color:#489fb5;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
   
    margin: 0;
    letter-spacing: 5px;
    width: max-content;
}

.prom h5{
    color: white;
    font-size: 40px;
    font-family: sans-serif;
   
    text-transform:none;
    margin:4% 0;
    width: max-content;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
}

.prom p{
  
    font-size: 20px;
    color: rgba(255, 255, 255, 0.764);
    width: 93%;
    margin-top: 10%;
    
    text-align: justify;



}

.prom-white{
   
    margin: 4% 2% 0 2%;
    width: 30%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    
    background-color: white;
    height: 80%;
}


.img-prom{
    height: 40%;
    width: 100%;
}

.prom-white h4{
    font-family: "Cormorant Garamond", serif;
    width: max-content;
    margin-left: 6%;
    margin-top: 4%;
    font-style: italic;
   
    font-size: 40px;
}

.prom-white h6{
    font-family: "Cormorant Garamond";
    width: max-content;
   
    color:#489fb5;
    margin: 6% 6% 0;
    font-style: italic;
    
    font-size: 35px;
}
.prom-white p{

    margin: 6%;
    font-size: 25px;

    
}
/*--------------------------------------OPINIONES--------------------------------------*/

.opiniones {
    position: relative; /* Necesario para posicionar la superposición */
    height: 600px;
    width: 100%;
    background-image: url('../img/california/california.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
    overflow: hidden; /* Evita que contenido adicional se desborde */
}

/* Superposición semitransparente */
.opiniones::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajusta el color y la opacidad */
    z-index: -1; /* Asegúrate de que esté detrás del contenido */
}


.opiniones-box {
    width: 50%;
    
    text-align: center;
   
    padding: 20px;
    border-radius: 10px;
}

.opiniones-box h1{
    font-family: "Cormorant Garamond", serif;
}

.opiniones-carousel {
    position: relative;
    overflow: hidden;
    height: 150px; /* Altura ajustable según el contenido */
    margin-top: 20px;
}

/* Opinión individual */
.opinion {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-size: 18px;
    line-height: 1.5;
}

/* Opinión activa */
.opinion.active {
    display: block;
    opacity: 1;
}
.carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.carousel-dots .dot {
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-dots .dot.active {
    background-color: rgba(255, 255, 255, 1);
}

/* Controles del carrusel */
.carousel-controls {
    margin-top: 20px;
}

.carousel-controls button {
   
    border: none;
    padding: 5px 5px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #489fb5;
    margin: 0 5px;
    border: 2px solid red;
    width: 3%;
    transition: background-color 0.3s;
    color: black;
}

.carousel-controls button:hover {
    background-color: rgb(0, 0, 54);
    color: white;
}

/*-----------------------------------DESCUBRIR----------------------------*/

.descubrir{
    border: 2px solid #c5d0e671;
    height: 900px;
    width: 100%;
    background-color: #c5d0e671;
    margin: auto;
}


.descubrir-box{
  
    height: 80%;
    margin: auto;
    margin-top: 3.9%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-star;
    align-items: stretch;
    flex-wrap: wrap;
}

.descubrir-sub{
    
    width: 48%;
    height: 48%;
    margin: auto;
}


.desc-img{
    height: 100%;
    width: 100%;
}

.descubrir-sub h5{
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin-left: 5%;
}

.descubrir-sub h3{
    font-family: "Cormorant Garamond", serif;
    margin-left: 5%;
}


.descubrir-sub p{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    text-align: justify;
}


/*---------------------------------MAPA----------------------------*/

.mapa{
    height: 800px;
    width: 100%;
    border: 2px solid red;
    margin-bottom: 10px;
}

.mapa-box{
    border: 2px solid rgb(0, 42, 255);
    width: 60%;
    height: 100%;
    margin: auto;
}

.mapa-box h2{
    font-family: "Cormorant Garamond", serif;
    text-align: center;
    font-size: 40px;
    border: 2px solid red;
}

.mapa-box p{
    border: 2px solid red;
    width: 60%;
    margin: 0 auto;
    font-size: 20px;

}

#map { height: 70%; 
    margin-top: 2%;

}














































/*-----------------------------FOOTER-----------------------------------------------*/

.main-footer {
    background-color: #333;
    color: white;
    padding: 40px 0;
    
    height: max-content;
    font-family: Arial, sans-serif;
}

.footer-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    height: max-content;
}

.footer-sec {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.footer-sec h1 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: "Cormorant Garamond", serif;
}

.footer-sec p {
    font-size: 16px;
    line-height: 1.6;
    color: #ccc;
    margin-bottom: 20px;
    
}

.footer-sec .links-footer a {
    display: block;
    font-size: 20px;
    color: #fff;
    margin: 3% 0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-sec .links-footer a:hover {
    color: #b9b9b9;
}

.language-selector {
    margin-top: 20px;
}

.language-selector select {
    background-color: #444;
    color: white;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.language-selector select:focus {
    outline: none;
    border-color: #f0f0f0;
}

.img-footer {
    margin-top: 20px;
    width: 150px;
    height: auto;
}

.sec-tres {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-tres p {
    font-size: 20px;
    margin-bottom: 15px;
}

.contact-info {
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    margin: 3%;
}

.contact-info i {
    margin-right: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    font-size: 30px;
    margin-top: 3%;
    color: #fff;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #b9b9b9;
}
.privacidad{
    width: 100%;
    background-color: #222;
    height: 50px;
    text-align: center;
    margin: 1.5% auto;
    margin-bottom: 0px;

    
}

.privacidad p{
    color: #fff;
    font-size: 16px;
    margin: auto;
    padding: 15px;

    
}

/* Responsividad */
@media (max-width: 768px) {
    .footer-box {
        flex-direction: column;
        text-align: center;
    }

    .footer-sec {
        width: 100%;
        margin-bottom: 30px;
    }
}
