<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú del Hotel</title>
    <!-- Enlace a Bootstrap 5 -->
    <link rel="stylesheet" href="../../static/css/hotel/menuhotel.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="bg-light">
    <% if (user && user.role === 'Hotel') { %>
        <a class="nav-link active" href="/hotel/<%= user.id_hotel %>">  <i class="fa-solid fa-right-from-bracket"></i></a>
    <% } else if (user && user.role === 'General') { %>
        <a href="/hoteles/" class="btn btn-sm btn-danger" title="Exit">
            <i class="fa-solid fa-right-from-bracket"></i>
        </a>%>
    <% } %>
 
    <div class="container mt-5">
        <div class="card shadow-lg p-4">
            <h2 class="text-center mb-4">Menú del Hotel</h2>
            <p class="text-center">ID del Hotel: <strong><%= nombreHotel %></strong></p>

            <div class="d-flex justify-content-center gap-3">
                <!-- Botón para ver estadísticas -->
                <a href="/menu-estadistica-hotel/<%= hotelId %>" class="btn btn-primary btn-lg">
                    📊 Ver Estadísticas
                </a>

                <!-- Botón para ver estados -->
                <a href="/estados-reservas/<%= hotelId %>" class="btn btn-secondary btn-lg">
                    📋 Ver Estados
                </a>
            </div>
        </div>
    </div>

    <!-- Script de Bootstrap (JS opcional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
